.contactpage{
 min-height: calc(100vh- 4rem);
 width: 100vw;
 max-width: 60rem;
 margin: 0 auto;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.clients{
  padding: 2rem;

}
.contractpagetitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.clientsdescription{
font-weight: 300;
font-size: 1rem;
}
.clientimgs{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
}
.clientimg{
    object-fit: cover;
   display: flex;
   min-width: 9rem;
   margin:auto;
   padding: .25rem;
  
}
.contactdesc{
 padding: 1rem;
 font-size: medium;
 font-weight: 300;
}
.contractform{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 60rem;
}
.name , .email , .msg{
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: .5rem;
    padding: .5rem 1rem;
    color: white;
    border: none;
    border-radius: .5rem;
    background: rgb(40, 40, 40);
}
.submitbtn{
    background: white;
    padding: .75rem 3.5rem;
    border: none;
    border-radius: .5rem;
    margin: 2rem;
}
.links{
   display: flex;
   flex-wrap: wrap;
}
.link{
   object-fit: cover;
   height: 3rem;
   width: 3rem;
   margin: 0 0.75rem;
}